<tui-root>
  <div class="custom-portal"><ng-container #viewContainer /></div>
  <header tuiNavigationHeader>
    
    <span tuiNavigationLogo>
      <tui-icon icon="@tui.pizza" />
      <span tuiFade>Fake Pizzeria</span>
    </span>
  </header>
  <div [style.display]="'flex'">
    
    <main tuiNavigationMain>
      <nav compact tuiSubheader [style.position]="'sticky'">
        <button tuiButton iconStart="@tui.plus" type="button" (click)="showDialog()">Add Pizza</button>
        <button tuiButton type="button" (click)="showToppingsDialog()">View Toppings</button>
      </nav>
      <router-outlet></router-outlet>
      
    </main>
  </div>
</tui-root>
